absl-py==0.12.0
alabaster==0.7.12
altair==4.1.0
anaconda-client==1.7.2
anaconda-navigator==1.10.0
anaconda-project==0.8.3
appdirs==1.4.4
applaunchservices==0.2.1
appnope==0.1.0
appscript @ file:///opt/concourse/worker/volumes/live/aa928f42-721f-468a-5637-76f7349085f8/volume/appscript_1594840167539/work
argh==0.26.2
asgiref==3.3.4
asn1crypto==1.3.0
astor==0.8.1
astroid==2.5.3
astropy==4.0.1.post1
astunparse==1.6.3
atomicwrites==1.4.0
attrs==19.3.0
autocorrect==2.5.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1592412889138/work
Babel==2.8.0
backcall==0.2.0
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1605305165209/work
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
base58==2.1.1
bce-python-sdk==0.8.61
beautifulsoup4==4.9.1
bitarray @ file:///opt/concourse/worker/volumes/live/6d8f03aa-2825-465e-7154-8514475a0909/volume/bitarray_1594753921133/work
bkcharts==0.2
bleach==3.3.0
blinker==1.4
blis==0.4.1
bokeh @ file:///opt/concourse/worker/volumes/live/4dce277b-856c-418f-50a0-50eb18d48058/volume/bokeh_1593187628308/work
boltons==20.2.1
boto==2.49.0
boto3==1.12.12
botocore==1.15.12
Bottleneck==1.3.2
Brotli==1.0.9
brotlipy==0.7.0
bz2file==0.98
cached-property==1.5.2
cachetools==4.1.1
catalogue==1.0.0
cbot==0.1.4.3
certifi==2019.11.28
cffi==1.14.0
cfgv==3.3.0
chardet==3.0.4
ChatterBot==1.0.8
click==7.1.1
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1594141588948/work
clyent==1.2.2
colorama==0.4.4
conda==4.10.3
conda-build==3.20.5
conda-package-handling @ file:///opt/concourse/worker/volumes/live/41a2ba95-d84c-4c06-4d6e-5665866bc5b4/volume/conda-package-handling_1603018173200/work
conda-verify==3.4.2
contextlib2==0.6.0.post1
coremltools==3.3
coverage==3.7.1
cryptography==2.8
cvxpy==1.1.13
cycler==0.10.0
cymem==2.0.2
Cython @ file:///opt/concourse/worker/volumes/live/a8b919bf-06b6-4be5-60d8-71d16518c421/volume/cython_1594833990717/work
cytoolz==0.9.0.1
dash==1.7.0
dash-bootstrap-components==0.7.2
dash-core-components==1.6.0
dash-html-components==1.0.2
dash-renderer==1.2.2
dash-table==4.5.1
dask @ file:///tmp/build/80754af9/dask-core_1594156306305/work
dataclasses==0.6
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.12
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
dill==0.2.9
distlib==0.3.1
distributed @ file:///opt/concourse/worker/volumes/live/0a62cbc9-591a-4d87-7487-c239010d690a/volume/distributed_1594750312816/work
Django==3.2.4
django-cors-headers==3.7.0
django-crispy-forms==1.10.0
django-filter==2.4.0
django-model-utils==4.1.1
django-oauth-toolkit==1.5.0
djangorestframework==3.12.4
dlib==19.22.1
dm-tree==0.1.6
docopt==0.6.2
docutils==0.15.2
dynaconf==3.1.4
easydict==1.9
easygui==0.98.2
easyocr @ git+git://github.com/jaidedai/easyocr.git@357f2ae1f18b00accb11a4fd0089b306ab575f3f
ecos==2.0.7.post1
editdistance==0.5.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
English-to-Hindi==0.0.1
entrypoints==0.3
et-xmlfile==1.0.1
face==20.1.1
fastcache==1.1.0
fastwer==0.1.3
ffmpeg-bitrate-stats==0.2.2
filelock==3.0.12
fire==0.4.0
flake8==3.9.2
Flask==1.1.1
Flask-Babel==2.0.0
Flask-Compress==1.4.0
Flask-SQLAlchemy==2.4.4
flatbuffers==1.12
fsspec==0.7.4
future==0.18.2
fvcore==0.1.5.post20211023
gap-stat==2.0.1
gast==0.2.2
gensim==3.8.0
gevent @ file:///opt/concourse/worker/volumes/live/272caec7-c260-4aae-6e70-894795c188a9/volume/gevent_1593009579780/work
gitdb==4.0.9
GitPython==3.1.24
glob2==0.7
gmpy2==2.0.8
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googletrans==3.1.0a0
greenlet==0.4.16
grpcio==1.34.1
gTTS==2.2.3
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
h5py==2.10.0
HeapDict==1.0.1
helpdev==0.7.1
hpack==3.0.0
hstspreload==2021.7.5
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
httpcore==0.9.1
httpx==0.13.3
hvac==0.10.14
hyperframe==5.2.0
identify==2.2.11
idna==2.9
image==1.5.33
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imagesize==1.2.0
imgaug==0.4.0
importlib-metadata==1.5.0
imutils==0.5.3
inflection==0.5.1
intervaltree @ file:///tmp/build/80754af9/intervaltree_1594361675072/work
iopath==0.1.9
ipykernel @ file:///opt/concourse/worker/volumes/live/18b922c7-3041-4126-5434-cac748d45c19/volume/ipykernel_1594755374448/work/dist/ipykernel-5.3.2-py3-none-any.whl
ipython @ file:///opt/concourse/worker/volumes/live/7ea70a71-5624-4799-50b3-3b90e07922f3/volume/ipython_1593447385860/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.8.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi @ file:///opt/concourse/worker/volumes/live/114a62c0-dd60-4a40-6382-85abb31b5f6e/volume/jedi_1592841953086/work
Jinja2==2.11.1
jmespath==0.9.4
joblib==1.0.1
json5==0.9.5
jsonfield==3.1.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.5
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
jwcrypto==0.9.1
Keras==2.4.3
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring @ file:///opt/concourse/worker/volumes/live/9f4aa601-8a6f-42a7-4180-58f1f835bf99/volume/keyring_1593109772323/work
kiwisolver==1.1.0
knox==0.1.14
kornia==0.5.8
labelImg==1.8.4
lazy-object-proxy==1.6.0
libarchive-c==2.9
llvmlite==0.33.0+1.g022ab0f
lmdb==1.2.1
locket==0.2.0
loguru==0.5.3
lxml @ file:///opt/concourse/worker/volumes/live/0dfefafa-9e58-455e-535c-75e73a127cfd/volume/lxml_1594826856790/work
Markdown==3.3.3
MarkupSafe==1.1.1
mathparse==0.1.2
matplotlib==3.1.3
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
MNN==1.1.0
mock==4.0.2
more-itertools==8.4.0
mpmath==1.1.0
msgpack==0.6.1
msgpack-numpy==0.4.3.2
multipledispatch==0.6.0
murmurhash==1.0.2
natsort==7.1.1
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.7
networkx @ file:///tmp/build/80754af9/networkx_1594377231366/work
nibabel==3.2.1
nltk==3.4.5
nodeenv==1.6.0
nose==1.3.7
notebook==6.0.3
numba==0.50.1
numexpr==2.7.1
numpy==1.21.4
numpydoc @ file:///tmp/build/80754af9/numpydoc_1594166760263/work
oauthlib==3.1.0
olefile==0.46
opencv-contrib-python==4.2.0.32
opencv-contrib-python-headless==4.2.0.32
opencv-python==4.5.3.56
opencv-python-headless==4.4.0.46
openpyxl @ file:///tmp/build/80754af9/openpyxl_1594167385094/work
opt-einsum==3.3.0
osqp==0.6.2.post0
packaging==20.9
paddlepaddle==2.1.1
pandas==1.0.1
pandocfilters==1.4.2
parso==0.7.0
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
pathy==0.6.0
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pipreqs==0.4.10
pipreqsnb==0.2.3
pkginfo==1.5.0.1
plac==0.9.6
plotly==4.5.2
pluggy==0.3.1
ply==3.11
portalocker==2.3.2
pre-commit==2.13.0
preshed==3.0.2
prettytable==0.7.2
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.14.0
psutil==5.7.0
ptyprocess==0.6.0
py @ file:///tmp/build/80754af9/py_1593446248552/work
pyarrow==6.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.7.1
pyclipper==1.3.0
pycocotools==2.0.2
pycodestyle==2.7.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycrypto==2.6.1
pycryptodome==3.10.1
pycurl==7.43.0.5
pydantic==1.8.2
pydeck==0.7.1
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1592848020240/work
pyflakes==2.3.1
Pygments==2.6.1
pylint==2.7.4
pymongo==3.11.4
Pympler==0.9
pyobjc==7.3
pyobjc-core==7.3
pyobjc-framework-Accessibility==7.3
pyobjc-framework-Accounts==7.3
pyobjc-framework-AddressBook==7.3
pyobjc-framework-AdServices==7.3
pyobjc-framework-AdSupport==7.3
pyobjc-framework-AppleScriptKit==7.3
pyobjc-framework-AppleScriptObjC==7.3
pyobjc-framework-ApplicationServices==7.3
pyobjc-framework-AppTrackingTransparency==7.3
pyobjc-framework-AuthenticationServices==7.3
pyobjc-framework-AutomaticAssessmentConfiguration==7.3
pyobjc-framework-Automator==7.3
pyobjc-framework-AVFoundation==7.3
pyobjc-framework-AVKit==7.3
pyobjc-framework-BusinessChat==7.3
pyobjc-framework-CalendarStore==7.3
pyobjc-framework-CallKit==7.3
pyobjc-framework-CFNetwork==7.3
pyobjc-framework-ClassKit==7.3
pyobjc-framework-CloudKit==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-Collaboration==7.3
pyobjc-framework-ColorSync==7.3
pyobjc-framework-Contacts==7.3
pyobjc-framework-ContactsUI==7.3
pyobjc-framework-CoreAudio==7.3
pyobjc-framework-CoreAudioKit==7.3
pyobjc-framework-CoreBluetooth==7.3
pyobjc-framework-CoreData==7.3
pyobjc-framework-CoreHaptics==7.3
pyobjc-framework-CoreLocation==7.3
pyobjc-framework-CoreMedia==7.3
pyobjc-framework-CoreMediaIO==7.3
pyobjc-framework-CoreMIDI==7.3
pyobjc-framework-CoreML==7.3
pyobjc-framework-CoreMotion==7.3
pyobjc-framework-CoreServices==7.3
pyobjc-framework-CoreSpotlight==7.3
pyobjc-framework-CoreText==7.3
pyobjc-framework-CoreWLAN==7.3
pyobjc-framework-CryptoTokenKit==7.3
pyobjc-framework-DeviceCheck==7.3
pyobjc-framework-DictionaryServices==7.3
pyobjc-framework-DiscRecording==7.3
pyobjc-framework-DiscRecordingUI==7.3
pyobjc-framework-DiskArbitration==7.3
pyobjc-framework-DVDPlayback==7.3
pyobjc-framework-EventKit==7.3
pyobjc-framework-ExceptionHandling==7.3
pyobjc-framework-ExecutionPolicy==7.3
pyobjc-framework-ExternalAccessory==7.3
pyobjc-framework-FileProvider==7.3
pyobjc-framework-FileProviderUI==7.3
pyobjc-framework-FinderSync==7.3
pyobjc-framework-FSEvents==7.3
pyobjc-framework-GameCenter==7.3
pyobjc-framework-GameController==7.3
pyobjc-framework-GameKit==7.3
pyobjc-framework-GameplayKit==7.3
pyobjc-framework-ImageCaptureCore==7.3
pyobjc-framework-IMServicePlugIn==7.3
pyobjc-framework-InputMethodKit==7.3
pyobjc-framework-InstallerPlugins==7.3
pyobjc-framework-InstantMessage==7.3
pyobjc-framework-Intents==7.3
pyobjc-framework-IOSurface==7.3
pyobjc-framework-iTunesLibrary==7.3
pyobjc-framework-KernelManagement==7.3
pyobjc-framework-LatentSemanticMapping==7.3
pyobjc-framework-LaunchServices==7.3
pyobjc-framework-libdispatch==7.3
pyobjc-framework-LinkPresentation==7.3
pyobjc-framework-LocalAuthentication==7.3
pyobjc-framework-MapKit==7.3
pyobjc-framework-MediaAccessibility==7.3
pyobjc-framework-MediaLibrary==7.3
pyobjc-framework-MediaPlayer==7.3
pyobjc-framework-MediaToolbox==7.3
pyobjc-framework-Metal==7.3
pyobjc-framework-MetalKit==7.3
pyobjc-framework-MetalPerformanceShaders==7.3
pyobjc-framework-MetalPerformanceShadersGraph==7.3
pyobjc-framework-MLCompute==7.3
pyobjc-framework-ModelIO==7.3
pyobjc-framework-MultipeerConnectivity==7.3
pyobjc-framework-NaturalLanguage==7.3
pyobjc-framework-NetFS==7.3
pyobjc-framework-Network==7.3
pyobjc-framework-NetworkExtension==7.3
pyobjc-framework-NotificationCenter==7.3
pyobjc-framework-OpenDirectory==7.3
pyobjc-framework-OSAKit==7.3
pyobjc-framework-OSLog==7.3
pyobjc-framework-PassKit==7.3
pyobjc-framework-PencilKit==7.3
pyobjc-framework-Photos==7.3
pyobjc-framework-PhotosUI==7.3
pyobjc-framework-PreferencePanes==7.3
pyobjc-framework-PushKit==7.3
pyobjc-framework-Quartz==7.3
pyobjc-framework-QuickLookThumbnailing==7.3
pyobjc-framework-ReplayKit==7.3
pyobjc-framework-SafariServices==7.3
pyobjc-framework-SceneKit==7.3
pyobjc-framework-ScreenSaver==7.3
pyobjc-framework-ScreenTime==7.3
pyobjc-framework-ScriptingBridge==7.3
pyobjc-framework-SearchKit==7.3
pyobjc-framework-Security==7.3
pyobjc-framework-SecurityFoundation==7.3
pyobjc-framework-SecurityInterface==7.3
pyobjc-framework-ServiceManagement==7.3
pyobjc-framework-Social==7.3
pyobjc-framework-SoundAnalysis==7.3
pyobjc-framework-Speech==7.3
pyobjc-framework-SpriteKit==7.3
pyobjc-framework-StoreKit==7.3
pyobjc-framework-SyncServices==7.3
pyobjc-framework-SystemConfiguration==7.3
pyobjc-framework-SystemExtensions==7.3
pyobjc-framework-UniformTypeIdentifiers==7.3
pyobjc-framework-UserNotifications==7.3
pyobjc-framework-UserNotificationsUI==7.3
pyobjc-framework-VideoSubscriberAccount==7.3
pyobjc-framework-VideoToolbox==7.3
pyobjc-framework-Virtualization==7.3
pyobjc-framework-Vision==7.3
pyobjc-framework-WebKit==7.3
pyodbc===4.0.0-unsupported
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.6
PyPDF2==1.26.0
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.12.1
pyrsistent==0.16.0
PySocks==1.7.1
pytesseract==0.3.8
pytest==2.8.7
pytest-cov==2.2.1
pytest-django==2.9.1
pytest-pythonpath==0.7
python-bidi==0.4.2
python-dateutil==2.8.1
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1594397536060/work
python-language-server @ file:///opt/concourse/worker/volumes/live/b528bc67-8964-47eb-5268-7d9c1a3b621a/volume/python-language-server_1594161912847/work
python-Levenshtein==0.12.2
python-twitter==3.5
pytz==2019.3
pytz-deprecation-shim==0.1.0.post0
pyvisage==0.15.2
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.1
QDarkStyle==2.8.1
qdldl==0.1.5.post0
QtAwesome==0.7.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1592848611704/work
QtPy==1.9.0
Quandl==3.6.0
rawpy==0.15.0
regex @ file:///opt/concourse/worker/volumes/live/5c3450d5-f152-477e-507e-094a7be51d80/volume/regex_1593435586246/work
requests==2.23.0
requests-oauthlib==1.3.0
resampy==0.2.1
retrying==1.3.3
rfc3986==1.5.0
rope==0.17.0
rsa==4.6
Rtree==0.9.4
ruamel-yaml==0.15.87
s3transfer==0.3.3
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.1.0
scs==2.1.3
seaborn==0.11.1
Send2Trash==1.5.0
shap==0.34.0
Shapely==1.7.1
shellcheck-py==0.7.2.1
shortuuid==1.0.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.8
six==1.14.0
smart-open==1.9.0
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
spacy==3.1.0
spacy-legacy==3.0.7
Sphinx==1.3.1
sphinx-rtd-theme==0.1.9
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1593446360927/work
spyder @ file:///opt/concourse/worker/volumes/live/61c0997d-fdda-449a-74ef-2dc857091585/volume/spyder_1594830748659/work
spyder-kernels @ file:///opt/concourse/worker/volumes/live/777779d4-59ba-4287-6811-2fccb6a6b6c9/volume/spyder-kernels_1594751610086/work
SQLAlchemy==1.2.19
sqlparse==0.4.1
srsly==2.4.1
statsmodels==0.11.1
streamlit==1.2.0
swapper==1.1.2.post1
sympy @ file:///opt/concourse/worker/volumes/live/794b4585-6914-43d5-6dd6-9c84fb6d47ed/volume/sympy_1594236608820/work
tables==3.6.1
tabulate==0.8.9
tblib==1.6.0
tensorboard==1.15.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.7.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
tensorflow-model-optimization==0.5.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
textblob==0.15.3
tf-slim==1.1.0
thinc==8.0.7
thop==0.0.31.post2005241907
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tifffile==2021.7.2
tinytag==1.5.0
toml==0.10.2
toolz==0.10.0
torch==1.8.1
torchaudio==0.7.0a0+a853dff
torchgpipe==0.0.7
torchvision==0.10.0
tornado==6.0.4
tox==2.0.1
tqdm==4.61.0
traitlets==4.3.3
turicreate==6.4.1
tweepy==4.3.0
typed-ast==1.4.1
typer==0.3.2
typing-extensions==3.10.0.0
tzdata==2021.5
tzlocal==4.1
ujson==1.35
unicodecsv==0.14.1
urllib3==1.25.8
validators==0.18.2
virtualenv==20.4.3
visualdl==2.2.0
wasabi==0.8.2
watchdog @ file:///opt/concourse/worker/volumes/live/fe5d349c-1d61-4feb-6b8a-cbc5288b20a8/volume/watchdog_1593447347275/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wordcloud==1.8.1
wrapt==1.12.1
wurlitzer @ file:///opt/concourse/worker/volumes/live/59acb45c-07e7-4304-57af-e84f3889d3ef/volume/wurlitzer_1594753863419/work
xlrd==1.2.0
XlsxWriter==1.2.9
xlwings==0.19.5
xlwt==1.3.0
xmltodict==0.12.0
yacs==0.1.8
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
yarg==0.1.9
yellowbrick==1.2.1
zict==2.0.0
zipp==3.1.0
zope.event==4.4
zope.interface==4.7.1
